[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"60accb6" = {path = "openai_gym", editable = true}
"6fc8e67" = {path = "gym-gomoku", editable = true}
ipython = "*"


[packages]

click = "*"
